#header, #footer, #comments, #sidebar, .page > header {
  display: none;
}
body {
  background: #DDD;
}
#container {
  @include max-width(600px);
  margin: 0 auto;
  background: #FFF;
  padding: 15px;
  @include above-width($mobile) {
    padding: 30px;
    margin-top: 30px;
  }
}
small {
  @include font-size(10, 1.4);
  margin: 0 0 15px;
  display: block;
}
.tags-list {
  margin: 0 -5px 20px;
  .tag {
    @include font-size(14, 1);
    @include inline-block(middle);
    margin: 5px;
    background: #8294a6;
    color: #FFF;
    padding: 3px 5px;
    position: relative;
    @include round(2px);
    font-weight: bold;
    .remove {
      color: red;
      background: #FFF;
      @include round(8px);
      @include font-size(16, 1);
      width: 16px;
      height: 16px;
      position: absolute;
      left: -8px;
      top: -8px;
      cursor: pointer;
      i {
        width: 16px;
        height: 16px;
      }
    }
    .weights {
      @include inline-block(middle);
      margin: -3px 0;
      .weight {
        font-weight: normal;
        cursor: pointer;
        @include inline-block(middle);
        background: #5f6f7f;
        padding: 3px 4px;
        margin-right: -4px;
        &.active {
          font-weight: bold;
          background: #48525d;
        }
        &:last-child {
          @include round(0 2px 2px 0);

        }
      }
    }
    &.unmatched {
      background: #cfcfcf;
      .weights .weight {
        background: #ababab;
        &.active {
          background: #878787;
        }
      }
    }
  }
}
